.center {
    text-align: center;
}

.button {
    display: block;                  /* makes width work properly */
    padding: 5px;
    border-radius: 12px;
    border-style: line;
    margin: auto;
}

.button a{
    display: flex;
    color: inherit;
    text-decoration: none;
    text-align: center;
    align-self: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}