body {
    background-color: rgb(205, 248, 248);
}


.button {
    display: block;                  
    padding: 5px;
    border-radius: 12px;
    border-style: line;
    margin: auto;
}

.button a{
    display: flex;
    color: inherit;
    text-decoration: none;
    text-align: center;
    align-self: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}