body {
    background-color: rgb(205, 248, 248);
}


.button {
    display: block;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    bottom: 20px;                  
    padding: 5px;
    border-radius: 12px;
    border-style: line;
    margin: auto;
    z-index: 10000;
}

.button a{
    display: flex;
    color: inherit;
    text-decoration: none;
    text-align: center;
    align-self: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}

.pp {
    text-align: center;
    font-size: 25px;
    top: 100px;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
}